rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{userDocId} {
    	allow
      	read,
        write: if(
        	request.auth != null 
          || (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['tokens', 'deletedDate']))
        );
    }	
    match /{document=**} {
      allow 
      	read, 
      	write: if (
      		request.auth != null 
        );
    }
  }
}